# ==========================================
# Данные, Кэш и Датасеты
# ==========================================
# Исключаем тяжелый кэш эмбеддингов и файлы сериализации
**/embeddings_cache/
*.pkl
*.pickle
*.npy
*.npz
*mlflow.db


# Локальные папки с сырыми данными (если скачиваются внутрь проекта)
data/raw/
# datasets/

# ==========================================
# Модели и Чекпоинты (Weights & Checkpoints)
# ==========================================
# Исключаем локально сохраненные веса лучших моделей
best_models/
*.pt
*.pth
*.ckpt

# ==========================================
# Логирование и Трекинг Экспериментов
# ==========================================
# TensorBoard
runs/
.tensorboard/
results/
plots/
tests/

# PyTorch Lightning логи
lightning_logs/

# Weights & Biases логи
wandb/
# Выходные файлы конфигуратора Hydra (логи, сгенерированные конфиги)
outputs/
multirun/

# ==========================================
# Окружение и Python (Стандарт)
# ==========================================
__pycache__/
*.py[cod]
*$py.class

# Виртуальные окружения
.venv/
venv/
env/
ENV/
dist/
build/
*.egg-info/

# ==========================================
# Настройки IDE и Системные файлы
# ==========================================
.vscode/
.idea/
.DS_Store
Thumbs.db